<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.velvetmilk.testingtool">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".TestingApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActorActivity"/>
        <activity android:name=".AAudioActivity"/>
        <activity android:name=".AnimationActivity"/>
        <activity android:name=".AntiDebuggingActivity"/>
        <activity android:name=".AppBarLayoutTestActivity"/>
        <activity android:name=".AttestationActivity"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".CollapsingToolbarLayoutTestActivity"/>
        <activity android:name=".ConnectivityActivity"/>
        <activity android:name=".ConstraintBarrierActivity"/>
        <activity android:name=".CoroutineActivity"/>
        <activity android:name=".CryptoActivity"/>
        <activity android:name=".DaggerActivity"/>
        <activity android:name=".FocusableActivity"/>
        <activity android:name=".InfoActivity"/>
        <activity android:name=".KeyStoreActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".MaterialActivity"/>
        <activity android:name=".NativeActivity"/>
        <activity android:name=".NetworkActivity"/>
        <activity android:name=".NfcActivity"/>
        <activity android:name=".NotificationActivity"/>
        <activity android:name=".OpenSlesActivity"/>
        <activity android:name=".PackageActivity"/>
        <activity android:name=".PlayServicesActivity"/>
        <activity android:name=".RippleActivity"/>
        <activity android:name=".SecureSocketActivity"/>
        <activity android:name=".SensorActivity"/>
        <activity android:name=".SignalActivity"/>
        <activity android:name=".SocketActivity"/>
        <activity android:name=".SubscriptionActivity"/>
        <activity android:name=".TelephonyActivity"/>
        <activity android:name=".TimeActivity"/>
        <activity android:name=".TransitionActivity"/>
        <activity android:name=".TransitionTargetActivity"/>
        <activity android:name=".TrustedScreenActivity"/>
    </application>

</manifest>
